openapi: 3.1.0
info:
  title: Circular Protocol Network Access Gateway API
  version: 1.0.8
  description: API documentation generated from the Circular Protocol JavaScript SDK and Testing Strategies.
  contact:
    name: Circular Protocol
    url: https://circularlabs.io
    email: support@circularlabs.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://nag.circularlabs.io
  description: Production NAG Server
security:
- NAGKey: []
tags:
- name: Analytics Methods
  description: Operations for retrieving blockchain analytics
- name: Circular Protocol
  description: Main Circular Protocol API operations
- name: Asset Methods
  description: Operations for managing and querying parametric assets
- name: Block Methods
  description: Operations for querying blockchain blocks
- name: Domain Methods
  description: Operations for domain name resolution
- name: Read Operations
  description: Read-only operations that do not modify blockchain state
- name: Smart Contract Methods
  description: Operations for testing and calling smart contracts
- name: Transaction Methods
  description: Operations for querying transactions
- name: Utility Methods
  description: General utility operations
- name: Voucher Methods
  description: Operations for voucher management
- name: Wallet Methods
  description: Operations for wallet management and queries
- name: Write Operations
  description: Operations that modify blockchain state
paths:
  /:
    post:
      summary: Circular Protocol API
      description: Main API endpoint - method specified via cep query parameter
      operationId: circularApi
      tags:
      - Circular Protocol
      security:
      - NAGKey: []
      parameters:
      - name: cep
        in: query
        required: true
        description: Circular Protocol API method to call
        schema:
          $ref: '#/components/schemas/CircularMethod'
        examples:
          Circular_TestContract_:
            value: Circular_TestContract_
            summary: Test Contract
            description: Test a contract on a blockchain
          Circular_CallContract_:
            value: Circular_CallContract_
            summary: Call Contract
            description: 'This request calls a smart contract function parsed in HEX format. '
          Circular_CheckWallet_:
            value: Circular_CheckWallet_
            summary: Check Wallet
            description: Check if a wallet exists on a specific blockchain
          Circular_GetWallet_:
            value: Circular_GetWallet_
            summary: Get Wallet
            description: Get wallet informations from a specified blockchain.
          Circular_GetLatestTransactions_:
            value: Circular_GetLatestTransactions_
            summary: GetLatestTransactions
            description: GetLatestTransactions operation for the Circular Protocol
          Circular_GetWalletBalance_:
            value: Circular_GetWalletBalance_
            summary: Get Wallet Balance
            description: Get the balance of a wallet on a blockchain
          Circular_ResolveDomain_:
            value: Circular_ResolveDomain_
            summary: Get Domain
            description: Get the wallet given a domain from a blockchain
          Circular_GetAssetList_:
            value: Circular_GetAssetList_
            summary: Get Asset List
            description: Get the list of assets from a blockchain
          Circular_GetAsset_:
            value: Circular_GetAsset_
            summary: Get Asset
            description: Get an asset from a blockchain
          Circular_GetAssetSupply_:
            value: Circular_GetAssetSupply_
            summary: Get Asset Supply
            description: Get the supply of an asset from a blockchain
          Circular_GetVoucher_:
            value: Circular_GetVoucher_
            summary: Get Voucher
            description: Get a voucher from a blockchain
          Circular_GetBlockRange_:
            value: Circular_GetBlockRange_
            summary: Get Block Range
            description: Retrieve all blocks in a specified range
          Circular_GetBlock_:
            value: Circular_GetBlock_
            summary: Get Block
            description: Get a block from a blockchain
          Circular_GetBlockHeight_:
            value: Circular_GetBlockHeight_
            summary: Get Block Count
            description: Retrieves the blockchain block height
          Circular_GetAnalytics_:
            value: Circular_GetAnalytics_
            summary: Get Analytics
            description: Get analytics data from a blockchain
          Circular_GetBlockchains_:
            value: Circular_GetBlockchains_
            summary: Get Blockchains
            description: Get the list of blockchains
          Circular_GetPendingTransaction_:
            value: Circular_GetPendingTransaction_
            summary: Get Pending Transaction
            description: Get the list of blockchains
          Circular_GetTransactionbyID_:
            value: Circular_GetTransactionbyID_
            summary: Get Transaction By ID
            description: Searches a Transaction by its ID. The transaction will be searched initially between the pending transactions and then in the blockchain
          Circular_GetTransactionbyNode_:
            value: Circular_GetTransactionbyNode_
            summary: GetTransactionbyNode
            description: GetTransactionbyNode operation for the Circular Protocol
          Circular_GetTransactionbyAddress_:
            value: Circular_GetTransactionbyAddress_
            summary: Get Transaction By Address
            description: Searches all transactions broadcasted or received by a specified address
          Circular_GetWalletNonce_:
            value: Circular_GetWalletNonce_
            summary: Get Wallet Nonce
            description: Get the nonce of a wallet on a blockchain
          Circular_GetTransactionbyDate_:
            value: Circular_GetTransactionbyDate_
            summary: Get Transaction By Date
            description: |-
              Searches all transactions broadcasted or received by a specified address in a specified timeframe.

              The dates must be written in YYYY:MM:DD-HH:mm:ss format in UTC.
      responses:
        '200':
          description: Successfully executed Circular Protocol API operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAGResponse'
        '400':
          description: Bad Request / Validation Error - invalid parameters for Circular Protocol API
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircularApiResponse'
        '401':
          description: Unauthorized - missing or invalid API key for Circular Protocol API
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircularApiResponse'
        '429':
          description: Rate limit exceeded for Circular Protocol API operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponse'
        '500':
          description: Internal server error during Circular Protocol API operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircularApiResponse'
      x-operations:
      - operationId: TestContract
        summary: Test Contract
        description: Test a contract on a blockchain
        tags:
        - Smart Contract Methods
        - Read Operations
        cepValue: Circular_TestContract_
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/testContractRequest'
              example:
                Blockchain: 8a20baa40c45dc5055aeb26197c203e576ef389d9acb171bd62da11dc5ad72b2
                From: 984345183416cad55ed65802356e84d8c6c802bd993c5473049de9d6ae9ca18b
                Timestamp: 2025:04:17-12:57:12
                Project: 7b0a20202246696c6573223a205b0a202020207b0a202020202020224e616d65223a202253657474696e67732e6a736f6e222c0a2020202020202255524c223a20224352435f48575f53657474696e67732e6a736f6e222c0a2020202020202254797065223a20226a736f6e222c0a2020202020202244617461223a20223762306132303230323235363635373237333639366636653232336132303232333132653330326533313232326330613230323032323530373236663661363536333734356634653631366436353232336132303232346437393433366636653734373236313633373432323263306132303230323235333739366436323666366332323361323032323464343335343232326330613230323032323431353034393733323233613230323234333735373337343666366432323263306132303230323234633631366536373735363136373635323233613230323234613631373636313533363337323639373037343232326330613230323032323432366336663633366236333638363136393665323233613230323233303738333836313332333036323631363133343330363333343335363436333335333033353335363136353632333233363331333933373633333233303333363533353337333636353636333333383339363433393631363336323331333733313632363433363332363436313331333136343633333536313634333733323632333232323263306132303230323234663737366536353732356634313634363437323635373337333232336132303232333037383339333833343333333433353331333833333334333133363633363136343335333536353634333633353338333033323333333533363635333833343634333836333336363333383330333236323634333933393333363333353334333733333330333433393634363533393634333636313635333936333631333133383632323232633061323032303232343436353736363536633666373036353732356634653631366436353232336132303232363436343232326330613230323032323434363537363635366336663730363537323566343136343634373236353733373332323361323032323330373833393338333433333334333533313338333333343331333636333631363433353335363536343336333533383330333233333335333636353338333436343338363333363633333833303332363236343339333933333633333533343337333333303334333936343635333936343336363136353339363336313331333836323232326330613230323032323434363537363566353037323639373636313734363535663462363537393232336132303232333037383335333733333335333636323635333536313339333433313631333836313632333433353338333536313331363436323339333536323338333033363336333233343335363533393331333333313636333036363338333936353636333833383631333933393631363536343339333233313335333433323336333236343339323232633061323032303232353436353733373436393665363735663436373236663664323233613230323233303738333933383334333333343335333133383333333433313336363336313634333533353635363433363335333833303332333333353336363533383334363433383633333636333338333033323632363433393339333336333335333433373333333033343339363436353339363433363631363533393633363133313338363232323263306132303230323235343635373337343639366536373566353436663232336132303232333037383339333833343333333433353331333833333334333133363633363136343335333536353634333633353338333033323333333533363635333833343634333836333336363333383330333236323634333933393333363333353334333733333330333433393634363533393634333636313635333936333631333133383632323230613764220a202020207d2c0a202020207b0a202020202020224e616d65223a2022446566696e6974696f6e732e6863222c0a2020202020202255524c223a20224352435f446566696e6974696f6e732e6a73222c0a2020202020202254797065223a2022636f6465222c0a2020202020202244617461223a20223266326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261306132613061326132303230323032303230323032303230323034333639373236333735366336313732323035303732366637343666363336663663306132613230323032303230323032303230323032303533366436313732373432303433366636653734373236313633373432303533373436313665363436313732363432303735373436393663363937343639363537333230363436353636363936653639373436393666366537333230306132613230323032303230323032303230323032303461363136653735363137323739323033323330333233343061326130613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326630613061326632613261306132303261323032303533366436313732373432303433366636653734373236313633373432303536363537323733363936663665306132303261306132303261326630613736363137323230356634333666366537343732363136333734356635363635373237333639366636653362306130613266326132613061323032613230323035333664363137323734323034333666366537343732363136333734323035363635373237333639366636653061323032613061323032613266306137363631373232303566343336663665373437323631363337343566353437393730363533623061306132663261326130613230326132303230353336643631373237343230343336663665373437323631363337343230346536313664363530613230326130613230326132663061373636313732323035663433366636653734373236313633373435663465363136643635336230613061326632613261306132303261323032303533366436313732373432303433366636653734373236313633373432303533373936643632366636633061323032613061323032613266306137363631373232303566343336663665373437323631363337343566353337393664363236663663336230613061326632613261306132303261323032303533366436313732373432303433366636653734373236313633373432303466373736653635373230613230326130613230326132663061373636313732323035663433366636653734373236313633373435663466373736653635373233623061306132663261323035333664363137323734323034333666366537343732363136333734323034663735373437303735373432303464363136653631363736353664363536653734323032613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613266306130613266326132613230306132303261323032303466373537343730373537343230343736633666363236313663323035363631373236393631363236633635306132303261306132303261326630613736363137323230356634333666366537333666366336353566346637353734373037353734336230613061356634333666366537333666366336353566346637353734373037353734323033643230323732373362306130613061326632613261306132303261323032303433366336353631366537333230373436383635323036663735373437303735373432303733373437323639366536373230363637323666366432303730373236353736363936663735373332303664363537333733363136373635373330613230326130613230326132663061363637353665363337343639366636653230363336633666323832393230376232303230323035663433366636653733366636633635356634663735373437303735373432303364323032373237336232303764306130613061326632613261306132303261323032303530373236393665373437333230363132303665363537373230373337343732363936653637323036393665373436663230373436383635323037333664363137323734323036333666366537343732363136333734323036663735373437303735373432303633363836313665366536353663306132303261306132303261323032303664363537333733363136373635323033613230363132303733373437323639366536373230366637323230363132303665373536643632363537323061323032613061323032613266306136363735366536333734363936663665323037303732363936653734323836643635373337333631363736353239323037623230356634333666366537333666366336353566346637353734373037353734323032623364323036643635373337333631363736353362323037643061306132663261326130613230326132303230373037323639366537343733323036313230366536353737323036633639366536353230363936653734366632303734363836353230373336643631373237343230363336663665373437323631363337343230366637353734373037353734323036333638363136653665363536633061323032613230306132303261323032303664363537333733363136373635323033613230363132303733373437323639366536373230366637323230363132303665373536643632363537323061323032613061326132663061363637353665363337343639366636653230373037323639366537343663366532383664363537333733363136373635323932303762323035663433366636653733366636633635356634663735373437303735373432303262336432303664363537333733363136373635323032623230323235633665323233623230376430613061306132663261323035333664363137323734323034333666366537343732363136333734323035333734363137343635323034643631366536313637363536643635366537343230326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613266306130613266326132613061323032613230346336393733373432303666363632303634363137343631323037303666363936653734373332303734363836313734323037373639366336633230363236353230363537383730366637323734363536343230363137333230373036353732373336663733373436353665373432303733373436313734363530613230326130613230326132663061373636313732323035663433366636653734373236313633373435663533373436313734363533623061356634333666366537343732363136333734356635333734363137343635323033643230323732373362306130613266326132613061323032613230353336313736363537333230373436383635323037333664363137323734323036333666366537343732363136333734323037333734363137343635323036363666373232303636366636633663366637373639366536373230363537383635363337353734363936663665306132303261306132303261323036663632366132303361323034663632366136353633373432633230373736383639363336383230363936653230373436383639373332303633363137333635323037373639366336633230363236353230373436383635323037333664363137323734323036333666366537343732363136333734323036333663363137333733306132303261306132303261326630613636373536653633373436393666366532303566353336313736363535663433366636653734373236313633373435663533373436313734363532383666363236613239323037623061323032303230323037363631373232303636363936353663363437333230336432303762376433623061323032303230323036363666373232303238373636313732323037303732366637303230363936653230366636323661323932303762306132303230323032303230323032303230363636393635366336343733356237303732366637303564323033643230376230613230323032303230323032303230323032303230323032303734373937303635336132303734373937303635366636363230366636323661356237303732366637303564326330613230323032303230323032303230323032303230323032303736363136633735363533613230366636323661356237303732366637303564306132303230323032303230323032303230376433623061323032303230323037643061323032303230323037323635373437353732366532303461353334663465326537333734373236393665363736393636373932383636363936353663363437333239336230613764306130613266326132613061323032613230343537383734373236313633373437333230373436383635323036373663366636323631366332303736363137323639363136323663363537333230363336663665373437323631363337343230373337343631373436353230373436663230373336313736363532303639373432303636366637323230363637353734373537323635323036353738363536333735373436393666366537333061323032613061323032613266306136363735366536333734363936663665323035663435373837343732363136333734356634373663366636323631366335663533373436313734363532383239323037623061323032303230323037363631373232303736363137323639363136323663363537333230336432303562356433623061323032303230323036363666373232303238373636313732323037303732366637303230363936653230373436383639373332393230376232303266326632303237373436383639373332373230373236353636363537323733323037343666323037343638363532303637366336663632363136633230366636323661363536333734323037373638363536653230363936653230373436383635323036373663366636323631366332303733363336663730363530613230323032303230323032303230323037363631373232303736363137323639363136323663363532303364323037623061323032303230323032303230323032303230323032303230346536313664363533613230373037323666373032633061323032303230323032303230323032303230323032303230373437393730363533613230373437393730363536663636323037343638363937333562373037323666373035643263306132303230323032303230323032303230323032303230323037363631366337353635336132303734363836393733356237303732366637303564306132303230323032303230323032303230376433623061323032303230323032303230323032303736363137323639363136323663363537333265373037353733363832383736363137323639363136323663363532393362306132303230323032303764306132303230323032303736363137323230373236353733373536633734323033643230376232303536363137323639363136323663363537333361323037363631373236393631363236633635373332303764336230613230323032303230373236353734373537323665323034613533346634653265373337343732363936653637363936363739323837323635373337353663373432393362306137643061306132663261326130613230326132303463366636313634373332303734363836353230373336643631373237343230363336663665373437323631363337343230373337343631373436353230363637323666366432303730373236353736363936663735373332303635373836353633373537343639366636653733306132303261306132303261323036663632366132303361323034663632366136353633373432633230373736383639363336383230363936653230373436383639373332303633363137333635323037373639366336633230363236353230373436383635323037333664363137323734323036333666366537343732363136333734323036333663363137333733306132303261306132303261323036613733366636653533373437323639366536373230336132303661373336663665323036363666373236643631373436353634323037333734373236393665363732303732363537303732363537333635366537343639366536373230373436383635323036333666366537343732363136333734323037333734363137343635306132303261306132303261326630613636373536653633373436393666366532303566346336663631363435663433366636653734373236313633373435663533373436313734363532383666363236613263323036613733366636653533373437323639366536373239323037623061323032303230323036393636323836613733366636653533373437323639366536373230336433643230323732373239323037323635373437353732366533623061323032303230323037363631373232303730363137323733363536343533373436313734363532303364323034613533346634653265373036313732373336353238366137333666366535333734373236393665363732393362306130613230323032303230326632663230343937343635373236313734363532303734363837323666373536373638323037343638363532303730373236663730363537323734363936353733323036393665323037303631373237333635363435333734363137343635323036313665363432303735373036343631373436353230343335323433356634333666366537343732363136333734306132303230323032303636366637323230323837363631373232303730373236663730323036393665323037303631373237333635363435333734363137343635323932303762306132303230323032303230323032303230363936363230323837303631373237333635363435333734363137343635356237303732366637303564326537343739373036353230323133643230323236363735366536333734363936663665323232393061323032303230323032303230323032303666363236613562373037323666373035643230336432303730363137323733363536343533373436313734363535623730373236663730356432653736363136633735363533623061323032303230323037643061376430613061326632613230353437323631366537333631363337343639366636653230353236353731373536353733373432303439366536363666323032613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132663061306137363631373232303433353234333566346436353733373336313637363532303364323037623230323032303230323032303230323030613230323032303230323032303230323032303230323032303230323032303230323034393434323033613230323732373263323032303266326632303534373236313665373336313633373436393666366532303439343432303238373336383631333233353336323036383631373336383239306132303230323032303230323032303230323032303230323032303230323034363732366636643230336132303237323732633230323032663266323035333635366536343635373232303737363136633663363537343230363136343634373236353733373330613230323032303230323032303230323032303230323032303230323032303230323035343666323033613230323732373263323032303266326632303533366436313732373432303633366636653734373236313633373432303631363436343732363537333733306132303230323032303230323032303230323032303534363936643635373337343631366437303230336132303237323732633230323032663266323035343732363136653733363136333734363936663665323037343639366436353733373436313664373032303061323032303230323032303230323032303230323032303230323032303230353437393730363532303361323032373237326332303230326632663230353437393730363532303666363632303534373236313665373336313633373436393666366530613230323032303230323032303230323032303432366336663633366236333638363136393665323033613230323732373263323032303266326632303432366336663633366236333638363136393665323036663665323037373638363936333638323037343638363532303734373236313665373336313633373436393666366532303639373332303632363536393665363732303733363536653734306132303230323032303230323032303230323032303533363936373665363137343735373236353230336132303237323732633230323032663266323035343732363136653733363136333734363936663665323035333639363736653631373437353732363532303238363136633732363536313634373932303736363136633639363436313734363536343239306132303230323032303230323032303230323032303230323035303631373936633666363136343230336132303237323732633230323032663266323035343732363136653733363136333734363936663665323035303631373936633666363136343230323836663665363532303666363632303734363836353230366436353734363836663634373332303666363632303734363836353230363336663665373437323631363337343230363336633631373337333239306132303230323032303230323032303230323032303230323032303230343137333733363537343230336132303237323732633230323032663266323034313733373336353734323037333635366537343230373436663230373436383635323037333664363137323734323036333666366537343732363136333734323030613230323032303230323032303230323032303230323032303230343136643666373536653734323033613230333032653330326332303266326632303631366436663735366537343230366636363230363137333733363537343230373336353665373432303734366632303734363836353230363336663665373437323631363337343061323032303230323032303230323032303230323032303437363137333463363936643639373432303361323033303265333032303230326632663230366436313738363936643735366432303631366436663735366537343230366636363230363736313733323037343666323036353738363536333735373436353230373436383635323037343732363136653733363136333734363936663665306137643362323030613061306130613266326132303433353234333264333033303332333432303537363136633663363537343230343436353636363936653639373436393666366532303261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326630613061373636313732323034333532343335663537363136633663363537343230336432303762323030613230323032303230323032303230323032303230323034313634363437323635373337333230336132303237323732633230323032303266326632303537363136633663363537343230343136343634373236353733373330613230323032303230323032303230323032303230323032303230346536663734363537333230336132303237323732633230323032303266326632303637363536653635373236393633323037343635373837343230363636393635366336343061323032303230323032303230323032303230323032303432363136633631366536333635323033613230333032653330326332303230326632663230343236313663363136653633363532303666363632303734363836353230363337353732373236353665373432303734366636623635366530613230323032303230323032303230323032303230323034313663366336663737363136653633363537333361323037623764326332303266326632303431366336633666373736313665363336353733306132303230323032303230323032303230323030613266326132613061323032613230346336663631363437333230373436383635323037333664363137323734323036333666366537343732363136333734323036393665363636663230363637323666366432303734363836353230373036383739373336393633363136633230373736313663366336353734306132303261306132303261323036313634363437323635373337333230336132303537363136633663363537343230363136343634373236353733373330613230326130613230326132663230306132303230346637303635366535373631366336633635373433613230363637353665363337343639366636653230323836313634363437323635373337333239306132303230323032303762306132303230323032303230323037343638363937333265343136343634373236353733373332303364323036313634363437323635373337333362306132303230323032303230323030613230323032303230323032303736363137323230373732303230336432303463366636313634353736313663366336353734323836313634363437323635373337333239336230613230323032303230323032303061323032303230323032303230363936363238373732653434363137343631323032313364336432303237323732393230376230613230323032303230323032303230323032303230373636313732323036343631373436313230336432303461353334663465326537303631373237333635323837373265343436313734363132393362306132303230323032303230323032303230323032303639363632303238323734653666373436353733323732303639366532303634363137343631323932303230323032303230323037623230373436383639373332653465366637343635373332303364323036343631373436313265346536663734363537333362323032303230323032303230323032303230323037643061323032303230323032303230323032303230323036393636323032383237343236313663363136653633363532373230363936653230363436313734363132393230323032303230376232303734363836393733326534323631366336313665363336353230336432303634363137343631326534323631366336313665363336353362323032303230323032303230376430613230323032303230323032303230323032303230363936363230323832373431366336633666373736313665363336353733323732303639366532303634363137343631323932303762323037343638363937333265343136633663366637373631366536333635373332303364323036343631373436313265343136633663366637373631366536333635373333623764306132303230323032303230323037643061306132303230323032303230323037323635373437353732366532303734363836393733336230613230323032303230376432633061306132663261326130613230326132303533363137363635373332303734363836353230373336643631373237343230363336663665373437323631363337343230373436383635323037333664363137323734323036333666366537343732363136333734323036393665363636663230363936653230373436383635323037303638373937333639363336313663323037373631366336633635373430613230326130613230326132663230323030613230323034333663366637333635353736313663366336353734336132303636373536653633373436393666366532383239323037623061323032303230323032303230326632663230343337323635363137343635323036313230366536353737323036663632366136353633373432303734366632303733373436663732363532303734363836353230363436313734363130613230323032303230323032303736363137323230363436313734363134663632366136353633373432303364323037623061323032303230323032303230323032303230323032303431363436343732363537333733323033613230373436383639373332653431363436343732363537333733326330613230323032303230323032303230323032303230323032303230323035343739373036353230336132303566343336663665373437323631363337343566353437393730363532633061323032303230323032303230323032303230323032303230323032303465363136643635323033613230356634333666366537343732363136333734356634653631366436353263306132303230323032303230323032303230323032303230323035333739366436323666366332303361323035663433366636653734373236313633373435663533373936643632366636633263306132303230323032303230323032303230323032303230323032303466373736653635373232303361323035663433366636653734373236313633373435663466373736653635373232633061323032303230323032303230323032303230323032303230323034653666373436353733323033613230373436383639373332653465366637343635373332633061323032303230323032303230323032303230323032303432363136633631366536333635323033613230373436383639373332653432363136633631366536333635326330613230323032303230323032303230323034313663366336663737363136653633363537333230336132303734363836393733326534313663366336663737363136653633363537333061323032303230323032303230376433623061323032303230323032303230326632663230343336663665373636353732373432303734363836353230363436313734363132303666363236613635363337343230373436663230363132303461353334663465323037333734373236393665363730613230323032303230323032303736363137323230363436313734363135333734373236393665363732303364323034613533346634653265373337343732363936653637363936363739323836343631373436313466363236613635363337343239336230613230323032303230323032303061323032303230323032303230326632663230353537333635323037343638363532303533363137363635353736313663366336353734323036363735366536333734363936663665323037343666323037333631373636353230373436383635323037353730363436313734363536343230373736313663366336353734306132303230323032303230323035333631373636353537363136633663363537343238373436383639373332653431363436343732363537333733326332303634363137343631353337343732363936653637323933623061323032303230323037643263306132303230306132303230306132663261326130613230326132303431363436343733323036313665323036313663366336663737363136653633363532303639366537343666323037343638363532303737363136633663363537343230363136633663366637373631366536333635373332303631373237323631373932653230343337323635363137343635373332303631323036653635373732303631366336633666373736313665363336353230366637323230373537303634363137343635373332303734363836353230363236313663363136653633363532303061323032613230366636363230363136653230363537383639373337343639366536373230366636653635306132303261306132303261323036313663366336663737363136653633363534313634363437323635373337333230336132303631363436343732363537333733323036663636323037343638363532303737363136633663363537343230363737323631366537343639366536373230373436383635323036313663366336663737363136653633363530613230326130613230326132303431366436663735366537343230336132303431366436663735366537343230366636363230373436383635323036313663366336663737363136653633363530613230326130613230326132663230323030613230323034313634363434313663366336663737363136653633363533613230363637353665363337343639366636653230323836313663366336663737363136653633363534313634363437323635373337333263323034313664366637353665373432393230376230613230323032303230323032303266326632303433363836353633366232303639363632303631366532303631366336633666373736313665363336353230373736393734363832303734363836353230373336313664363532303631363436343732363537333733323036313663373236353631363437393230363537383639373337343733306132303230323032303230323036393636323032383734363836393733326534313663366336663737363136653633363537333265363836313733346637373665353037323666373036353732373437393238363136633663366637373631366536333635343136343634373236353733373332393239323037623061323032303230323032303230323032303266326632303439363632303631366532303631366336633666373736313665363336353230373736393734363832303734363836353230373336313664363532303631363436343732363537333733323036353738363937333734373332633230363136343634323037343638363532303631366336633666373736313665363336353431366436663735366537343230373436663230373436383635323036353738363937333734363936653637323036313663366336663737363136653633363530613230323032303230323032303230323037343638363937333265343136633663366637373631366536333635373335623631366336633666373736313665363336353431363436343732363537333733356432303262336432303431366436663735366537343362306132303230323032303230323037643230363536633733363532303762306132303230323032303230323032303230326632663230343936363230366536663230363136633663366637373631366536333635323037373639373436383230373436383635323037333631366436353230363136343634373236353733373332303635373836393733373437333263323036333732363536313734363532303631323036653635373732303631366336633666373736313665363336353061323032303230323032303230323032303734363836393733326534313663366336663737363136653633363537333562363136633663366637373631366536333635343136343634373236353733373335643230336432303431366436663735366537343362306132303230323032303230323037643061306132303230323032303764326330613061323032303061326632613261306132303261323035333730363536653634373332303631366532303631366336633666373736313665363336353230363936653734366632303734363836353230373736313663366336353734323036313663366336663737363136653633363537333230363137323732363137393265323034343635366336353734363537333230373436383635323036313663366336663737363136653633363537333230373436383631373432303637366632303734366632303632363136633631366536333635323033643230333030613230326130613230326132303631366336633666373736313665363336353431363436343732363537333733323033613230363136343634373236353733373332303666363632303734363836353230373736313663366336353734323036373732363136653734363936653637323037343638363532303631366336633666373736313665363336353061323032613061323032613230363136643666373536653734353436663533373036353665363432303361323034313664366637353665373432303734363836313734323036393733323036323635363936653637323037333730363536653734306132303261306132303261326632303230323030613230323035333730363536653634343136633663366637373631366536333635336132303636373536653633373436393666366532303238363136633663366637373631366536333635343136343634373236353733373332633230363136643666373536653734353436663533373036353665363432393230376230613230323032303230323032303266326632303433363836353633366232303639363632303631366532303631366336633666373736313665363336353230373736393734363832303734363836353230373337303635363336393636363936353634323036313634363437323635373337333230363537383639373337343733306132303230323032303230323036393636323032383734363836393733326534313663366336663737363136653633363537333265363836313733346637373665353037323666373036353732373437393238363136633663366637373631366536333635343136343634373236353733373332393239323037623061323032303230323032303230323032303266326632303437363537343230373436383635323036333735373237323635366537343230363136633663366637373631366536333635323036313664366637353665373430613230323032303230323032303230323037363631373232303633373537323732363536653734343136633663366637373631366536333635323033643230373436383639373332653431366336633666373736313665363336353733356236313663366336663737363136653633363534313634363437323635373337333564336230613061323032303230323032303230323032303266326632303433363136633633373536633631373436353230373436383635323036653635373732303631366336633666373736313665363336353230363136643666373536653734323036313636373436353732323037333730363536653634363936653637306132303230323032303230323032303230373636313732323036653635373734313663366336663737363136653633363532303364323036333735373237323635366537343431366336633666373736313665363336353230326432303631366436663735366537343534366635333730363536653634336230613061323032303230323032303230323032303266326632303433363836353633366232303639363632303734363836353230366536353737323036313663366336663737363136653633363532303631366436663735366537343230363937333230363737323635363137343635373232303734363836313665323036663732323036353731373536313663323037343666323037613635373236663061323032303230323032303230323032303639363632303238366536353737343136633663366637373631366536333635323033653364323033303239323037623061323032303230323032303230323032303230323032663266323035353730363436313734363532303734363836353230363136633663366637373631366536333635323037373639373436383230373436383635323036653635373732303631366436663735366537343061323032303230323032303230323032303230323037343638363937333265343136633663366637373631366536333635373335623631366336633666373736313665363336353431363436343732363537333733356432303364323036653635373734313663366336663737363136653633363533623061323032303230323032303230323032303764323036353663373336353230376230613230323032303230323032303230323032303230326632663230353436383635323036313663366336663737363136653633363532303737366637353663363432303637366632303632363536633666373732303761363537323666326332303733366632303639373432303633363136653665366637343230363236353230373337303635366537343061323032303230323032303230323032303230323032663266323035323635366436663736363532303734363836353230363136633663366637373631366536333635323036363732366636643230373436383635323034313663366336663737363136653633363537333230366636323661363536333734306132303230323032303230323032303230323032303634363536633635373436353230373436383639373332653431366336633666373736313665363336353733356236313663366336663737363136653633363534313634363437323635373337333564336230613230323032303230323032303230323037643061306132303230323032303230323032303230326632663230353236353734373537323665323037343732373536353230373436663230363936653634363936333631373436353230373337353633363336353733373336363735366332303733373036353665363436393665363730613230323032303230323032303230323037323635373437353732366532303734373237353635336230613230323032303230323032303764323036353663373336353230376230613230323032303230323032303230323032663266323035343638363532303733373036353633363936363639363536343230363136633663366637373631366536333635323036313634363437323635373337333230363436663635373332303665366637343230363537383639373337343061323032303230323032303230323032303266326632303532363537343735373236653230363636313663373336353230373436663230363936653634363936333631373436353230373436383631373432303734363836353230373337303635366536343639366536373230363937333230366536663734323036313663366336663737363536343061323032303230323032303230323032303732363537343735373236653230363636313663373336353362306132303230323032303230323037643061323032303230323037643263306130613230323030613266326132613061323032613230343436353663363537343635373332303631366532303635373836393733373436393665363732303631366336633666373736313665363336353061323032613061323032613230363136633663366637373631366536333635343136343634373236353733373332303361323036313634363437323635373337333230366636363230373436383635323037373631366336633635373432303637373236313665373436393665363732303734363836353230363136633663366637373631366536333635306132303261306132303261326632303230306132303230343436353663363537343635343136633663366637373631366536333635336132303636373536653633373436393666366532303238363136633663366637373631366536333635343136343634373236353733373332393230376230613230323032303230323032303266326632303433363836353633366232303639363632303631366532303631366336633666373736313665363336353230373736393734363832303734363836353230373337303635363336393636363936353634323036313634363437323635373337333230363537383639373337343733306132303230323032303230323036393636323032383734363836393733326534313663366336663737363136653633363537333265363836313733346637373665353037323666373036353732373437393238363136633663366637373631366536333635343136343634373236353733373332393239323037623061323032303230323032303230323032303266326632303532363536643666373636353230373436383635323036313663366336663737363136653633363532303636373236663664323037343638363532303431366336633666373736313665363336353733323036663632366136353633373430613230323032303230323032303230323036343635366336353734363532303734363836393733326534313663366336663737363136653633363537333562363136633663366637373631366536333635343136343634373236353733373335643362306132303230323032303230323032303230326632663230353236353734373537323665323037343732373536353230373436663230363936653634363936333631373436353230373337353633363336353733373336363735366332303634363536633635373436393666366530613230323032303230323032303230323037323635373437353732366532303734373237353635336230613230323032303230323032303764323036353663373336353230376230613230323032303230323032303230323032663266323035343638363532303733373036353633363936363639363536343230363136633663366637373631366536333635323036313634363437323635373337333230363436663635373332303665366637343230363537383639373337343061323032303230323032303230323032303266326632303532363537343735373236653230363636313663373336353230373436663230363936653634363936333631373436353230373436383631373432303734363836353230363136633663366637373631366536333635323037373631373332303665366637343230363636663735366536343230363136653634323036343635366336353734363536343061323032303230323032303230323032303732363537343735373236653230363636313663373336353362306132303230323032303230323037643061323032303230323037643061323032303061376433623230323030613061306132663261326130613230326132303530373236393665373437333230363136633663323037343638363532303631366336633666373736313665363336353733323037303732363537333635366537343230363936653734366632303631323037373631366336633635373430613230326130613230326132303737363136633663363537343230336132303537363136633663363537343230346636323661363536333734306132303261306132303261326630613230323036363735366536333734363936663665323037303732363936653734343136633663366637373631366536333635373332383537363136633663363537343239323037623061323032303230323036363666373232303238373636313732323036313663366336663737363136653633363534313634363437323635373337333230363936653230353736313663366336353734326534313663366336663737363136653633363537333239323037623061323032303230323032303230363936363230323835373631366336633635373432653431366336633666373736313665363336353733326536383631373334663737366535303732366637303635373237343739323836313663366336663737363136653633363534313634363437323635373337333239323932303762306132303230323032303230323032303230373636313732323036313663366336663737363136653633363534313664366637353665373432303364323035373631366336633635373432653431366336633666373736313665363336353733356236313663366336663737363136653633363534313634363437323635373337333564336230613230323032303230323032303230323037303732363936653734366336653238363136633663366637373631366536333635343136343634373236353733373332303262323032373263323032373230326232303631366336633666373736313665363336353431366436663735366537343239336230613230323032303230323032303764306132303230323032303764306132303230376430613061220a202020207d2c0a202020207b0a202020202020224e616d65223a2022496e69742e6863222c0a2020202020202255524c223a20224352435f48575f496e69742e6a73222c0a2020202020202254797065223a2022636f6465222c0a2020202020202244617461223a2022326632613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326130613261306132613230323032303230323032303230323032303433363937323633373536633631373232303530373236663734366636333666366330613261323032303230323032303230323032303230353336643631373237343230343336663665373437323631363337343230343936653730373537343230343436353636363936653639373436393666366537333230363136653634323034393665363937343639363136633639376136313734363936663665373332303061326132303230323032303230323032303230323034613631366537353631373237393230333233303332333430613261306132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613266306130613266326132303533366436313732373432303433366636653734373236313633373432303536363537323733363936663665323032613266306135663433366636653734373236313633373435663536363537323733363936663665323033643230323733313265333032653331323733623061356634333666366537343732363136333734356635343739373036353230323032303230336432303237343536643730373437393230343336663665373437323631363337343237336230613566343336663665373437323631363337343566346536313664363532303230323032303364323032373237336230613566343336663665373437323631363337343566353337393664363236663663323032303364323032373237336230613566343336663665373437323631363337343566346637373665363537323230323032303364323032373237336230613061326632613230353434663434346633613230343936653639373436393631366336393761363532303638363537323635323036313663366332303734363836353230366637343638363537323230373636313732363936313632366336353733323032613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132663061306130613061306130613061220a202020207d2c0a202020207b0a202020202020224e616d65223a2022436f6e74726163742e6863222c0a2020202020202255524c223a20224352435f48575f436f6e74726163742e6a73222c0a2020202020202254797065223a2022636f6465222c0a2020202020202244617461223a2022326632613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326130613261306132613230323032303230323032303230323032303433363937323633373536633631373232303530373236663734366636333666366330613261323032303230323032303230323032303230343335323433323034323663363136653662323035333664363137323734323034333666366537343732363136333734323035343635366437303663363137343635323032303061326132303230323032303230323032303230323034613631366537353631373237393230333233303332333430613261306132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613266306130613266326132613230306132303261306132303261323032303534346634343466336132303434363536363639366536353230343335323433356634333666366537343732363136333734323036663632366136353633373432303061323032613061323032613230323034643666363436393636373932303734363836393733323037343635366437303663363137343635323037343666323036323735363936633634323037393666373537323230366637373665323035343666366236353665323030613230326130613230326132663061306137363631373232303433353234333566343336663665373437323631363337343230336432303762306130613230323032303230326632613261323030613230323032303230323032613230353434663434346633613230343336663665373437323631363337343230343336633631373337333230343936653639373436393631366336393761363137343639366636653362323034393665363937343639363136633639376136353230363836353732363532303739366637353734323036333666366537343732363136333734323037303732366637303635373237343639363537333061323032303230323032303261306132303230323032303230326132663061323032303230323032303230323032303230323032303230323032303230356634653631366436353230336132303232346437393433366636653734373236313633373432323263323032303230323032303230326632663230353436663662363536653230346536313664363532653230343937343230366437353733373432303664363137343633363832303734363836353230373037323666366136353633373432303665363136643635323036393665323037343638363532303733363537343734363936653637373332303061323032303230323032303230323032303230323032303230323035663533373936643632366636633230336132303232346434333534323232633230323032303230323032303230323032303230323032303230326632663230343137333733363537343230353436393662363537323265343937343230366437353733373432303664363137343633363832303734363836353230366636653635323036393665323037343638363532303733363537343734363936653637373332303061323032303230323032303230323032303230323032303230323032303566366637373665363537323230336132303232343536653734363537323230366637373665363537323230373736313663366336353734323036313634363437323635373337333232326332303266326632303431373337333635373432303466373736653635373232303431363436343732363537333733306132303230323032303230323030613230323032303230326632613261323030613230323032303230323032613230343336663665373437323631363337343230343336663665373337343732373536333734366637323265323034393734323037373639366336633230363236353230363537383635363337353734363536343230366636653663373932303666366536333635326332303737363836353665323037343638363532303633366636653734373236313633373432303639373332303634363537303663366637393635363432653061323032303230323032303261306132303230323032303230326132663061323032303230323032303230323032303566363336663665373337343732373536333734366637323361323036363735366536333734363936663665323832393230376230613230323032303230323032303230323032303230306132303230323032303230323032303230323032303266326632303534346634343466336132303635366537343635373232303638363537323635323037393666373537323230363336663665373337343732373536333734366637323230363336663634363530613230323032303230323032303230323032303230306132303230323032303230323032303230376432633061306132303230323032303230323032303230356635663730373236393665373434333666366537343732363136333734336132303636373536653633373436393666366532383239323037623061323032303230323032303230323032303230323032303230373037323639366537343663366532383232343836353663366336663230353736663732366336343232323930613230323032303230323032303230323037643263306130613230323032303230323032303230323034333638363136653637363534653631366436353361323036363735366536333734363936663665323836653631366436353239323037623061323032303230323032303230323032303230323032303230373436383639373332653566346536313664363532303364323036653631366436353362306132303230323032303230323032303230323032303230323037303732363936653734366336653238323234343666366536353265323232393362306132303230323032303230323032303230376432633061306132303230323032303230323032303230356635663732363536313634346536313664363533613230363637353665363337343639366636653238323932303762306132303230323032303230323032303230323032303230323037303732363936653734366336653238373436383639373332653566346536313664363532393362306132303230323032303230323032303230376430613061323032303230323037643362220a202020207d2c0a202020207b0a202020202020224e616d65223a2022546573742e6863222c0a2020202020202255524c223a20224352435f48575f546573742e6a73222c0a2020202020202254797065223a2022636f6465222c0a2020202020202244617461223a202232663261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613061326130613261323032303230323032303230323032303230343336393732363337353663363137323230353037323666373436663633366636633061326132303230323032303230323032303230323035333664363137323734323034333666366537343732363136333734323034353665363437303666363936653734373332303534363537333734306132613230323032303230323032303230323032303461363136653735363137323739323033323330333233343061326130613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326630613061326632613261306132303261323034383635373236353230373936663735323036333631366532303734363537333734323037343638363532303634363936363636363537323635366537343230363336663665373437323631363337343237373332303635366536343730366636393665373437333061323032613061323032613230343934643530346635323534343134653534336132303734363836393733323037303639363536333635323036663636323036333666363436353230373736393663366332303632363532303635373836353633373537343635363432303666366536633739323036393665323036343635363237353637363736393665363732303664366636343635323036313665363432303639373432303737363936633663323030613230326132303635366437353663363137343635323037343638363532303734373236313665373336313633373436393666366532303730363137393663366636313634326532303534373236313665373336313633373436393666366532303730363137393663366636313634373332303638363137363635323037353733373536313663366337393230366636653663373932303666366536353230363336313663366332633061323032613230363237353734323037343638363532303734363537333734363936653637323036643666363436353230373736393663366332303631366336633666373732303739366637353230373436663230363136343634323036353738373437323631323036333666363436353230363337323635363137343635363936653637323037343638363532303634363537333639373236353634323037343635373337343639366536373230306132303261323036333666366536343639373436393666366537333265323034393734323036393733323036393664373036663732373436313665373432303734366632303735366536343635373237343631366536343230373436383631373432303639366532303634363536323735363736373639366536373230366436663634363532633230366536663230363536363636363536333734323037373639366336633230363236353061323032613230373037323666363437353633363536343230366636653230373436383635323037373631366336633635373437333265323034393665323037343635373337343639366536373230366436663634363532303238373437323631366537333631363337343639366636653230366636653230373436383635323037333631366536343632366637383230363236633666363336623633363836313639366532393061323032613230373436383635323037373631366336633635373437333230373736393663366332303632363532303631363636363635363337343635363432303632373932303734363836353230373437323631366537333631363337343639366636653733326530613266326130613061326632613261306132303261323034383635373236353230373936663735323036333631366532303631373337333639363736653230366436313665373536313663366337393230373436383635323037323635373137353635373337343230363436353734363136393663373332303734366632303732363536333732363536313734363532303734363836353230363436353733363937323635363432303633366636653634363937343639366636653733306132303261323036643733363732653432366336663633366236333638363136393665336432373330373833383631333233303632363136313334333036333334333536343633333533303335333536313635363233323336333133393337363333323330333336353335333733363635363633333338333936343339363136333632333133373331363236343336333236343631333133313634363333353631363433373332363233323237336230613230326132303664373336373265343934343364323733303738333033303330333033303330333033303330333033303330333033303330333033303330333033303330333033303330333033303330333033303330333033303330333033303330333033303330333033303330333032373362323030613230326132303664373336373265343637323666366433643237363536653734363537323230363836353732363532303739366637353732323036343635373336393732363536343230343637323666366432303431363436343732363537333733323733623061323032613230366437333637326535343666336432373534363537383734356634333666366537343732363136333734323733623230336333633230373436353733373432303633366636653734373236313633373432303639373332303636366637323230373436383635323036343635363237353637363736393665363732303664366636343635306132303261323036643733363732653534373937303635336432373237336230613230326132303664373336373265353436393664363537333734363136643730336432373237336230613230326132303664373336373265353336393637366536313734373537323635336432373237336230613261326630613061306132663261326132303530366336313633363532303638363537323635323037393666373537323230363536653634373036663639366537343230373436353733373436393665363732303633366636343635323032613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132663061306134333532343335663433366636653734373236313633373432653566356637303732363936653734343336663665373437323631363337343238323933623061220a202020207d2c0a202020207b0a202020202020224e616d65223a20224f7574707574732e6863222c0a2020202020202255524c223a20224352435f48575f4f7574707574732e6a73222c0a2020202020202254797065223a2022636f6465222c0a2020202020202244617461223a20223266326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261306132613061326132303230323032303230323032303230323034333639373236333735366336313732323035303732366637343666363336663663306132613230323032303230323032303230323032303533366436313732373432303433366636653734373236313633373432303466373537343730373537343230343436353636363936653639373436393666366530613261323032303230323032303230323032303230346136313665373536313732373932303332333033323334306132613061326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132663061306130613061306132663261326132303530373236393665373436393665363732303666373537343730373537343230363636663732323036343635363237353637363736393665363732303261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613266306130613061306130613266326132303435373837343732363136333734373332303631366536343230373337343666373236353733323037343638363532303733366436313732373432303633366636653734373236313633373432373733323036353738363536333735373436393666366532303733373436313734363532303261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326132613261326630613566343336663665373437323631363337343566353337343631373436353230336432303566353336313736363535663433366636653734373236313633373435663533373436313734363532383433353234333566343336663665373437323631363337343239336230613061220a202020207d2c0a202020207b0a202020202020224e616d65223a2022524541444d452e6d64222c0a2020202020202255524c223a2022526561644d652e747874222c0a2020202020202254797065223a202274657874222c0a2020202020202244617461223a20223233323034333639373236333735366336313732323035303732366637343666363336663663323034383739373036353732323034333666363436353230353336643631373237343230343336663665373437323631363337343061306132333233323034663736363537323736363936353737306130613431363436343230363836353732363532303631323036373635366536353732363136633230363436353733363337323639373037343639366636653230366636363230373436383639373332303733366436313732373432303633366636653734373236313633373432303734366632303636363136333639366336393734363137343635323037343638363532303735366536343635373237333734363136653634363936653637323036663636323036663734363836353732323036343635373636353663366637303635373237333265306130613061323332333230343736353734373436393665363732303533373436313732373436353634306130613434363537333633373236393632363532303638363537323635323036313663366332303732363537313735363937323635366436353665373437333230373436663230363736353734323037333734363137323734363536343230363936653230373537333639366536373230373436383639373332303733366436313732373432303633366636653734373236313633373432303632373932303733373937333734363536643230363936653734363536373732363137343666373237333265306130613061323332333230353336643631373237343230343336663665373437323631363337343230343637353665363337343639366636653733306130613463363937333734323036383635373236353230373436383635323036343639363636363635373236353665373432303635366536343264373036663639366537343733323036363666373232303734363836393733323037333664363137323734323036333666366537343732363136333734306130613061323332333233323034363735366536333734363936663665323033313361323035623436373536653633373436393666366532303465363136643635356430613061356234363735366536333734363936663665323034343635373336333732363937303734363936663665356430613061353537333631363736353361306130613266326632303435373836313664373036633635323037353733363136373635323036393665323035333666366336393634363937343739306130616332623463326234633262343661373330613633366636653734373236313633373434393665373337343631366536333635326536363735366536333734363936663665346536313664363532383730363137323631366436353734363537323733323933623061633262346332623463326234220a202020207d2c0a202020207b0a202020202020224e616d65223a20224c4943454e53452e747874222c0a2020202020202255524c223a20224c6963656e73652e747874222c0a2020202020202254797065223a202274657874222c0a2020202020202244617461223a2022346434393534323034633639363336353665373336353061306134333666373037393732363936373638373432303238363332393230333233303332333432303433363937323633373536633631373232303437366336663632363136633230346336353634363736353732373332633230343936653633326530613061353036353732366436393733373336393666366532303639373332303638363537323635363237393230363737323631366537343635363432633230363637323635363532303666363632303633363836313732363736353263323037343666323036313665373932303730363537323733366636653230366636323734363136393665363936653637323036313230363336663730373930613666363632303734363836393733323037333666363637343737363137323635323036313665363432303631373337333666363336393631373436353634323036343666363337353664363536653734363137343639366636653230363636393663363537333230323837343638363532303232353336663636373437373631373236353232323932633230373436663230363436353631366330613639366532303734363836353230353336663636373437373631373236353230373736393734363836663735373432303732363537333734373236393633373436393666366532633230363936653633366337353634363936653637323037373639373436383666373537343230366336393664363937343631373436393666366532303734363836353230373236393637363837343733306137343666323037353733363532633230363336663730373932633230366436663634363936363739326332303664363537323637363532633230373037353632366336393733363832633230363436393733373437323639363237353734363532633230373337353632366336393633363536653733363532633230363136653634326636663732323037333635366336633061363336663730363936353733323036663636323037343638363532303533366636363734373736313732363532633230363136653634323037343666323037303635373236643639373432303730363537323733366636653733323037343666323037373638366636643230373436383635323035333666363637343737363137323635323036393733306136363735373236653639373336383635363432303734366632303634366632303733366632633230373337353632366136353633373432303734366632303734363836353230363636663663366336663737363936653637323036333666366536343639373436393666366537333361306130613534363836353230363136323666373636353230363336663730373937323639363736383734323036653666373436393633363532303631366536343230373436383639373332303730363537323664363937333733363936663665323036653666373436393633363532303733363836313663366332303632363532303639366536333663373536343635363432303639366532303631366336633061363336663730363936353733323036663732323037333735363237333734363136653734363936313663323037303666373237343639366636653733323036663636323037343638363532303533366636363734373736313732363532653061306135343438343532303533346634363534353734313532343532303439353332303530353234663536343934343435343432303232343135333230343935333232326332303537343935343438346635353534323035373431353235323431346535343539323034663436323034313465353932303462343934653434326332303435353835303532343535333533323034663532306134393464353034633439343534343263323034393465343334633535343434393465343732303432353535343230346534663534323034633439346434393534343534343230353434663230353434383435323035373431353235323431346535343439343535333230346634363230346434353532343334383431346535343431343234393463343935343539326330613436343935343465343535333533323034363466353232303431323035303431353235343439343335353463343135323230353035353532353034663533343532303431346534343230346534663465343934653436353234393465343734353464343534653534326532303439346532303465346632303435353634353465353432303533343834313463346332303534343834353061343135353534343834663532353332303466353232303433346635303539353234393437343835343230343834663463343434353532353332303432343532303463343934313432346334353230343634663532323034313465353932303433346334313439346432633230343434313464343134373435353332303466353232303466353434383435353230613463343934313432343934633439353435393263323035373438343535343438343535323230343934653230343134653230343134333534343934663465323034663436323034333466346535343532343134333534326332303534346635323534323034663532323034663534343834353532353734393533343532633230343135323439353334393465343732303436353234663464326330613466353535343230346634363230346635323230343934653230343334663465346534353433353434393466346532303537343935343438323035343438343532303533346634363534353734313532343532303466353232303534343834353230353535333435323034663532323034663534343834353532323034343435343134633439346534373533323034393465323035343438343530613533346634363534353734313532343532653061220a202020207d0a20205d0a7d
                Version: 1.0.10
        responses:
          '200':
            description: Successfully tested contract - returns testContract result
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/testContractResponse'
          '401':
            description: Unauthorized - missing or invalid API key for testContract
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
          '429':
            description: Rate limit exceeded for testContract operation
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              Retry-After:
                $ref: '#/components/headers/RetryAfter'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/RateLimitResponse'
          '500':
            description: Internal server error during testContract operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
      - operationId: CallContract
        summary: Call Contract
        description: 'This request calls a smart contract function parsed in HEX format. '
        tags:
        - Smart Contract Methods
        - Read Operations
        cepValue: Circular_CallContract_
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/callContractRequest'
              example:
                Blockchain: 8a20baa40c45dc5055aeb26197c203e576ef389d9acb171bd62da11dc5ad72b2
                From: 984345183416cad55ed65802356e84d8c6c802bd993c5473049de9d6ae9ca18b
                Timestamp: 2025:04:17-09:37:43
                Address: 8d070bf066b04b8a95adf9a824d4f4e7c8cf4334eb11fec951fed740d56f7980
                Request: 4352435f436f6e74726163742e5f5f726561644e616d6528293b
                Version: 1.10.0
        responses:
          '200':
            description: Successfully called contract - returns callContract result
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/callContractResponse'
          '401':
            description: Unauthorized - missing or invalid API key for callContract
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
          '429':
            description: Rate limit exceeded for callContract operation
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              Retry-After:
                $ref: '#/components/headers/RetryAfter'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/RateLimitResponse'
          '500':
            description: Internal server error during callContract operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
      - operationId: CheckWallet
        summary: Check Wallet
        description: Check if a wallet exists on a specific blockchain
        tags:
        - Wallet Methods
        - Read Operations
        cepValue: Circular_CheckWallet_
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkWalletRequest'
              example:
                Blockchain: 8a20baa40c45dc5055aeb26197c203e576ef389d9acb171bd62da11dc5ad72b2
                Address: 984345183416cad55ed65802356e84d8c6c802bd993c5473049de9d6ae9ca18b
                Version: 1.13.0
        responses:
          '200':
            description: Successfully checked wallet - returns checkWallet result
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/checkWalletResponse'
          '401':
            description: Unauthorized - missing or invalid API key for checkWallet
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
          '429':
            description: Rate limit exceeded for checkWallet operation
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              Retry-After:
                $ref: '#/components/headers/RetryAfter'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/RateLimitResponse'
          '500':
            description: Internal server error during checkWallet operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
      - operationId: GetWallet
        summary: Get Wallet
        description: Get wallet informations from a specified blockchain.
        tags:
        - Wallet Methods
        - Read Operations
        cepValue: Circular_GetWallet_
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWalletRequest'
              example:
                Blockchain: 8a20baa40c45dc5055aeb26197c203e576ef389d9acb171bd62da11dc5ad72b2
                Address: 984345183416cad55ed65802356e84d8c6c802bd993c5473049de9d6ae9ca18b
                Version: 1.13.0
        responses:
          '200':
            description: Successfully geted wallet - returns getWallet result
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/getWalletResponse'
          '401':
            description: Unauthorized - missing or invalid API key for getWallet
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
          '429':
            description: Rate limit exceeded for getWallet operation
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              Retry-After:
                $ref: '#/components/headers/RetryAfter'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/RateLimitResponse'
          '500':
            description: Internal server error during getWallet operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
      - operationId: GetLatestTransactions
        summary: getLatestTransactions
        description: GetLatestTransactions operation for the Circular Protocol
        tags:
        - Transaction Methods
        - Read Operations
        cepValue: Circular_GetLatestTransactions_
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getLatestTransactionsRequest'
        responses:
          '200':
            description: Successfully geted latest transactions - returns getLatestTransactions result
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/getLatestTransactionsResponse'
          '401':
            description: Unauthorized - missing or invalid API key for getLatestTransactions
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
          '429':
            description: Rate limit exceeded for getLatestTransactions operation
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              Retry-After:
                $ref: '#/components/headers/RetryAfter'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/RateLimitResponse'
          '500':
            description: Internal server error during getLatestTransactions operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
      - operationId: GetWalletBalance
        summary: Get Wallet Balance
        description: Get the balance of a wallet on a blockchain
        tags:
        - Wallet Methods
        - Read Operations
        cepValue: Circular_GetWalletBalance_
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWalletBalanceRequest'
              example:
                Blockchain: 8a20baa40c45dc5055aeb26197c203e576ef389d9acb171bd62da11dc5ad72b2
                Address: 984345183416cad55ed65802356e84d8c6c802bd993c5473049de9d6ae9ca18b
                Asset: CIRX
                Version: 1.13.0
        responses:
          '200':
            description: Successfully geted wallet balance - returns getWalletBalance result
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/getWalletBalanceResponse'
          '401':
            description: Unauthorized - missing or invalid API key for getWalletBalance
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
          '429':
            description: Rate limit exceeded for getWalletBalance operation
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              Retry-After:
                $ref: '#/components/headers/RetryAfter'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/RateLimitResponse'
          '500':
            description: Internal server error during getWalletBalance operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
      - operationId: GetDomain
        summary: Get Domain
        description: Get the wallet given a domain from a blockchain
        tags:
        - Domain Methods
        - Read Operations
        cepValue: Circular_ResolveDomain_
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDomainRequest'
              example:
                Blockchain: 8a20baa40c45dc5055aeb26197c203e576ef389d9acb171bd62da11dc5ad72b2
                Domain: ddenovi.test
                Version: 1.0.10
        responses:
          '200':
            description: Successfully geted domain - returns getDomain result
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/getDomainResponse'
          '401':
            description: Unauthorized - missing or invalid API key for getDomain
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
          '429':
            description: Rate limit exceeded for getDomain operation
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              Retry-After:
                $ref: '#/components/headers/RetryAfter'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/RateLimitResponse'
          '500':
            description: Internal server error during getDomain operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
      - operationId: GetAssetList
        summary: Get Asset List
        description: Get the list of assets from a blockchain
        tags:
        - Asset Methods
        - Read Operations
        cepValue: Circular_GetAssetList_
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAssetListRequest'
              example:
                Blockchain: 8a20baa40c45dc5055aeb26197c203e576ef389d9acb171bd62da11dc5ad72b2
                Version: 1.10.0
        responses:
          '200':
            description: Successfully geted asset list - returns getAssetList result
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/getAssetListResponse'
          '401':
            description: Unauthorized - missing or invalid API key for getAssetList
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
          '429':
            description: Rate limit exceeded for getAssetList operation
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              Retry-After:
                $ref: '#/components/headers/RetryAfter'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/RateLimitResponse'
          '500':
            description: Internal server error during getAssetList operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CircularApiResponse'
      - operationId: GetAsset
        summary: Get Asset
        description: Get an asset from a blockchain
        tags:
        - Asset Methods
        - Read Operations
        cepValue: Circular_GetAsset_
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAssetRequest'
              example:
                Blockchain: 8a20baa40c45dc5055aeb26197c203e576ef389d9acb171bd62da11dc5ad72b2
                AssetName: CIRX
                Version: 1.10.0
        responses:
          '200':
            description: Successfully geted asset - returns getAsset result
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/getAssetResponse'
          '401':
            description: Unauthorized - missing or invalid API key for getAsset
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/RateLimitReset'
              RateLimit-Limit:
                $ref: '#/components/headers/RateLimitLimit'
              RateLimit-Remaining:
                $ref: '#/components/headers/RateLimitRemaining'
[...]
